################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERP_CORE/obj
/.vs/ERP_SOLUTION/config/applicationhost.config
/ERP_SOLUTION/bin
